body 
{
    background-color: #EBF0FA;
    
}
.bukrs{
	font-size:14px;

}
.budat .ui-inputfield, .bldat .ui-inputfield{
	font-size:14px;
	width:75px;
}
.ui-datepicker{
	width:250px;
}
.bukrs, .blart, .monat, .waers{
	width:35px;
}
.kursf{
	width:50px;
}
.xblnr, .bktxt, .bvorg{
	width:200px;
}
.blart_button, .bschl_button, .hkont_button, .lifnr_button, .kunnr_button, .matnr_button, .werks_button, .meins_button, .waers_button, .bukrs_button{
	width:21px;
	height:21px;
	vertical-align: bottom
}

.f4button{ 
 	width:21px;
	height:21px;
	vertical-align: bottom
}
#employee{
	float: left;
} 
#salary_position{
	margin-left: 320px;
} 
.ui-selectonemenu-panel { 
   font-size:14px; 
}
.ui-selectonemenu{
	font-size:14px; 
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{
	opacity:.70 !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td{
	padding:4px !important;
	
}
.ui-datatable tbody td{
	font-size:14px; 
}
#contract{ 
	width:520px;	
	float:left;
}
#payment_scheduleDiv{
	margin-left:10px;
	width:400px;
	float:left;
}
.payment_scheduleFieldSet{
	height:460px;
}
.contractFieldSet{
	height:460px;
}